# 数据库配置
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=root
DB_NAME=gojxust

# REDIS
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

# JWT密钥
JWT_SECRET=

# 服务器配置
SERVER_PORT=8080

# 微信小程序配置
WECHAT_APP_ID=
WECHAT_APP_SECRET=

# UPYUN
UPYUN_TOKEN_SECRET=
CDN_BASE_URL=

# Minio
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_USE_SSL=false
BUCKET_NAME=yqlx

# 主机配置（用于确保minio反向代理时签名匹配）
HOST=localhost:8085
SCHEME=http