server {
    listen 80;
    listen [::]:80;
    listen 443 quic reuseport;
    listen [::]:443 quic reuseport;
    listen 443 ssl;
    listen [::]:443 ssl;
    server_name branch.api-dev.yqlx.ntrun.com;

    ssl_protocols  TLSv1.3;
    ssl_certificate /etc/nginx/uhttpd.crt;
    ssl_certificate_key /etc/nginx/uhttpd.key;
    ssl_ecdh_curve secp384r1;
    ssl_stapling on;
    ssl_prefer_server_ciphers on;
    ssl_session_cache shared:SSL:2m;
    ssl_session_timeout 1h;
    ssl_session_tickets off;
    ssl_early_data on;
    quic_retry on;
    quic_gso on;
    http3 on;
    http2 on;
    location / {
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_http_version 1.1;
        proxy_set_header Connection "";
        proxy_read_timeout 900s;
        proxy_pass https://reverseProxyServer/;
        proxy_hide_header Alt-Svc;
        add_header Alt-Svc 'h3=":443"; ma=2592000';
    }
}
